@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Montserrat&display=swap'); // font-family
@import '~@fortawesome/fontawesome-free/css/all.min.css';

$bg-color: linear-gradient(to right, #ececec, #b7b7b7);

$font-color: #e4e4e4;
$font-color-dark: #181616;

$header-color: #181616;
$footer-color: #181616;

$bg-bio-color: #181616;
$bg-stack-color: #181616;

