@import "../../../assets/scss/variables.scss";

header {

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 75px;

    background: $header-color;

    @media (max-width: 1200px) {
        
    }
}


.h2-text {
    margin-left: 30px;
    
    color: $font-color;
    background: $header-color;

    font-size: 35px;
}
