<section class="stack">
    <h1>minha stack</h1>
    <div class="stack-container">
        <div class="stack-components backend">
            <h2>backend</h2>
            <div class="stack-item">
                Java
            </div>
            <div class="stack-item">
                Spring Boot
            </div>
            <div class="stack-item">
                REST APIs
            </div>
            <div class="stack-item">
                Testes Unitários
            </div>
        </div>
        <div class="stack-components frontend">
            <h2>frontend</h2>
            <div class="stack-item">
                Angular
            </div>
            <div class="stack-item">
                Javascript
            </div>
            <div class="stack-item">
                Typescript
            </div>
            <div class="stack-item">
                HTML
            </div>
            <div class="stack-item">
                CSS
            </div>
        </div>
        <div class="stack-components cloud">
            <h2>cloud</h2>
            <div class="stack-item">
                AWS
            </div>
            <div class="stack-item">
                Oracle Cloud Infrastructure
            </div>
        </div>
        <div class="stack-components observability">
            <h2>observability</h2>
            <div class="stack-item">
                Splunk
            </div>
        </div>
    </div>
</section>