.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

.footer {
    margin-top: auto;
}

app-biografia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
